<template>
  <div class="scroll-handle" v-scroll-to-top @click="scrollToTarget">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </div>
</template>

<script>
import ScrollToTop from "../directives/scrollToTop";
export default {
  directives: { ScrollToTop },
  methods: {
    scrollToTarget() {
      window.scrollTo({ top: 0, behavior: "smooth" });
    }
  }
};
</script>

<style scoped>
.scroll-handle {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
</style>