<template>
  <div id="app">
    <scroll-handle />
    <img alt="Vue logo" src="./assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
import ScrollToTop from "./directives/scrollToTop";
import HelloWorld from "./components/HelloWorld.vue";
import ScrollHandle from "./components/ScrollHandle.vue";

export default {
  name: "app",
  components: {
    HelloWorld,
    ScrollHandle
  },
  directives: {
    "scroll-to-top": ScrollToTop
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
